@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    background-color: #e0d9cf;
}
h1, .orders-title {
    border-bottom: 1px solid black;
}
#orderButton {
    position: relative;
    background-color: #a03939;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 30px;
    /* padding: 20px; */
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  #orderButton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  #orderButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }